html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.carousel-item img {
    max-height: 700px; 
    object-fit: cover;
    object-position: center;
    height: 95vh;
    overflow: hidden; 
    min-width: 100%;
    height: 900px;
  }

  .container{
      padding-top: 20px;
      padding-left: 30px;
  }
  .row{
      padding-top: 12px;
      padding-bottom: 12px;
  }
  .col{
      padding-top: 12px;
  }

  .footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer h3{
    color: white;
    margin-bottom: 20px;
  }
  .footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1{
    flex-basis: 50%;
  }
  .footer-col-2{
    flex-basis: 25%;
    text-align: center;
  }
  .footer-col-3{
    flex-basis: 25%;
    text-align: center;
  }
  ul{
    list-style-type: none;
  }
  .footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright{
    text-align: center;
  }

  .icons{
      display: flex;
      flex-direction: column;
      text-decoration: none;
  }

.nav-bar .navbar .container-fluid .collapse .navbar-nav .nav-link:hover{
    color: blue;
}

.card:hover .overlay {
    opacity: 0.95;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 241, 244);
}
.text{
    color: black;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}